.button {
  position: fixed;
  bottom: 120px;
  right: 6px;
  z-index: 99;
  border: 1px solid rgba(232, 232, 232, 0.7);
  outline: none;
  background-color: #ffff;
  cursor: pointer;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12),
    0px -4px 16px -4px rgba(0, 0, 0, 0.08);
  width: 48px;
  height: 48px;
}
