.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #969696;
  width: 100%;
  height: 86px;

  &--container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    &--margin {
      margin: 5px 0px 0px 0px;
    }
    &--title {
      font-family: "Roboto", sans-serif;
    }
    &--subtitle {
      font-family: "Roboto", sans-serif;
    }
    .icon-container {
      margin-top: 10px;
      .link {
        padding: 0px 20px;
        .icon {
          width: 15px;
          height: 15px;
        }
        .icon-linkedin {
          width: 16px;
          height: 16px;
          padding-bottom: 1px;
        }
        .icon-youtube {
          width: 17px;
          height: 14px;
        }
      }
    }
  }
}
