<div class="footer">
  <div class="footer--container">
    <h3 class="footer--container--margin footer--container--title">
      Lautaro Marconi
    </h3>
    <p class="footer--container--margin footer--container--subtitle">
      All rights reserved
    </p>
    <div class="icon-container">
      <a href="https://google.com" class="link"
        ><img class="icon" src="../../../../assets/images/google-icon.svg"
      /></a>
      <a
        href="https://www.linkedin.com/in/lautaro-marconi-rodrigues-726950b8/"
        class="link"
        ><img
          class="icon-linkedin"
          src="../../../../assets/images/linkedin-icon.svg"
      /></a>
      <a href="https://youtube.com" class="link"
        ><img
          class="icon-youtube"
          src="../../../../assets/images/youtube-icon.svg"
      /></a>
    </div>
  </div>
</div>
